  h1 {
    color: Red;
    margin-left: 20px;
  }

 
label {
    cursor: pointer;
    color: #555;
    display: block;
    padding: 10px;
    margin: 3px;
}
.card {
    width: 30%
}

a {
    cursor: pointer;
}